<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saikaew_rus.cm_alert_new">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".CM_1_Load"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CM_2_Main"
            android:label="User"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CM_3_Car"
            android:label="Car" />
        <activity
            android:name=".CM_4_Plus_Car"
            android:label="Car Data" />
        <activity
            android:name=".CM_5_User_Data"
            android:label="Edit User" />
        <activity
            android:name=".CM_6_Travel"
            android:label="Travel" />
        <activity
            android:name=".CM_7_List_Parts"
            android:label="List Parts"
            android:parentActivityName=".CM_3_Car">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CM_3_Car" />
        </activity>
        <activity
            android:name=".CM_8_History"
            android:label="Maintenance History" />
        <activity
            android:name=".CM_9_Add_Parts"
            android:label="Add Parts" />
        <activity
            android:name=".CM_10_Add_Parts_2"
            android:label="Add Parts" />

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>